*{
    margin:0px;
    padding:0px;
}
body{
    background:linear-gradient(to bottom right,rgb(199, 99, 199),rgb(190, 82, 100));
    height:100vh;
}
.container{
    margin:auto;
    background:white;
    width:40%;
    padding:50px;
    margin-top:50px;
    text-align:center;
    align-items:center;
    height:400px;
}
h1{
    margin-bottom:20px;
    margin-top:20px;
}
.ts{
    font-size:40px;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
    border-radius:5px;
    background-color:rgb(243, 244, 245);
    width:100%;
    min-height:100px;
    display:block;
}
input{
    width:100%;
    border-radius:5px;
    height:30px;
    margin-bottom:10px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 buttons per row */
    gap: 10px;
    align-items:stretch;
    margin-top:10px;
    margin-bottom:10px;
}

button{
    
    height:30px;
    border-radius:5px;
    border:none;
    color:white;
    margin-top:10px;
    transition: 0.2s ease; 
}
button:hover{
    transform: translateY(-4px);  /* move up */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.blue{
    background:rgb(101, 101, 241);
}
.green{
    background-color:green;
}
.red{
    background-color:red;
}
.reset{
    width:100%;
    color:white;
    background:yellow;
}

